body {
  background-color: #131517;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slowfloat {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

@keyframes rotate2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-90deg);
  }
}

/* Kod za fadein i fadeout animacije. Ovo se mora podesiti jer inace fadeout animacija ne moze da radi jer se element odmah uklanja iz DOM-a */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 250ms;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scrollbar::-webkit-scrollbar {
  background: #1e1f25;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #2f3037;
  border-radius: 10px;
}

/* Prilagođavanje osnovne boje pickera */
.react-datepicker {
  background-color: #2a2e35; /* Tamno siva */
  color: white; /* Bela boja teksta */
  border: none;
  border-radius: 10px;
}

/* Prilagođavanje boje za selektovani datum */
.react-datepicker__day--selected {
  background-color: #5051f9 !important; /* Plava */
  color: white !important; /* Bela boja teksta */
}

.react-datepicker__day--enabled {
  background-color: #5051f9 !important; /* Plava */
  color: white !important; /* Bela boja teksta */
}

.react-datepicker__day {
  color: #9ca3af !important; /* Bela boja teksta */
}

.react-datepicker__day--disabled {
  color: black !important; /* Bela boja teksta */
}
/* Opciono: Prilagođavanje boje za dan na koji se prelazi mišem */
.react-datepicker__day:hover {
  background-color: #657786 !important; /* Svetlo siva */
}

/* Stilizovanje header-a date pickera */
.react-datepicker__header {
  background-color: #2a2e35; /* Tamno siva */
  border-bottom: none; /* Uklanjanje donje linije ako postoji */
}

/* Stilizovanje teksta trenutnog meseca */
.react-datepicker__current-month {
  color: white; /* Bela boja teksta */
}

.react-datepicker__day-name {
  color: #9ca3af; /* Svetlo siva */
}

/* Stilizovanje navigacionih dugmadi */
.react-datepicker__navigation {
  top: 20px; /* Primer prilagođavanja pozicije */
  color: white; /* Bela boja ikonica */
}

/* Stilizovanje navigacionih dugmadi kada se prelazi mišem */
.react-datepicker__navigation:hover {
  color: #5051f9; /* Plava */
}
