@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-fade-bottom {
  background: linear-gradient(to bottom, transparent, #1e1f25);
  pointer-events: none; /* Ovo osigurava da gradient ne ometa interakciju sa elementima ispod njega. */
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* global.css or styles.css */
* {
  transition: background-color 0.5s ease;
}
